<div class="jumbotron">
  <% if current_user %>
      <h1>Welcome to Spacebook</h1>
      <h3>Logged in as <%= current_user.first_name + ' ' + current_user.last_name %></h3>
  <% else %>
      <h1>Welcome to Spacebook</h1>
      <h3>Please sign up or log in</h3>
  <% end %>
</div>